<html>
    <head>
        <style>
            body{
                background-color:black;
            }
            button {
                width:20vw;
                height:15vw;
                margin: 1vw 2vw 1vw 2vw;
                background-color:rgb(91, 88, 88);
                color: white;
                font-weight:bold;
                font-size:1.5vw;
                border-radius: 10vw;
            }
        </style>
    </head>
    <body>
        <button onclick="window.location.href='/viewcase'">View case</button>
        <button onclick="window.location.href='/entercase'">Enter new case</button>
        <button onclick="window.location.href='/updatecase'">Udate case</button>
        <button onclick="window.location.href='/removecase'">Remove case</button>
        <button onclick="window.location.href='/reghio'">Register new higher_official</button>
        <button onclick="window.location.href='/regloo'">Register new lower_official</button>
        <button onclick="window.location.href='/remhio'">Remove higher_official</button>
        <button onclick="window.location.href='/remloo'">Remove lower_official</button>
        <button onclick="window.location.href='/hio_changepass'">Change password</button>
        <button onclick="window.location.href='/autregister'">Viewcase</button>

    </body>
</html>